{% extends "public/base.html" %}

{% block title %}  {% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Insertion</h1>
      <form action="{{url_for('insert')}}" method="post">
        <div class="mb-3 w-50">
          <label for="exampleInputEmail1" class="form-label">username</label>
          <input type="text" class="form-control" id="exampleInputEmail1" name="user_name" />
        </div>
        <div class="mb-3 w-50">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" name="email" />
        </div>
        <div class="mb-3 w-50">
          <label for="exampleInputEmail1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputEmail1" name="user_pass" />
        </div>

         <!-- Flash message -->
         {% with messages = get_flashed_messages(with_categories=true) %} 
         {% if messages %} 
         {% for category, message in
         messages %}
         <div class="alert alert-{{ category }} alert-dismissible fade show w-25 text-success" role="alert">
           {{ message }}
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
         {% endfor %} 
         {% endif %} 
         {% endwith %}
        <div class="d-flex justify-content-start w-50">
          <button type="submit" class="btn btn-primary me-2">Submit</button>
        </div>

      </form>
    </div>
  </div>
</div>

{% endblock %}